* {
  margin: 0 0 0 0;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-border{
  width: 100vw;
  height: 16vh;
  border-radius: 0 0 9vh 0;
  background-color: #68C4E1;
}

.bottom-border{
  width: 100vw;
  height: 16vh;
  border-radius: 9vh 0 0 0;
  background-color: #68C4E1;
}

.div-loginForm{
  height: 48vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-title{
  font-family:'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 4vh;
  @media screen and (min-width: 720px) {
    font-size: 6vw;
  } 
  @media screen and (min-width: 1440px) {
    font-size: 8vh;
  } 
}

.login-form{
  height: 28vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media screen and (min-height: 720px) {
    height: 16vh;
  } 
}

.login-input {
  width: 75vw;
  height: 3vh;
  background-color: #D9D9D9;
  border-style: none;
  padding-left: 1vw;
  box-sizing: border-box;
  font-weight: 400;
  @media screen and (min-width:512px){
    width: 50vw;
    height: 3vw;
  }
  @media screen and (min-width: 1440px){
    width: 42vw;
    height: 4vh;
  }
}

.login-button {
  width: 75vw;
  height: 3vh;
  padding: 0;
  background-color: #D9D9D9;
  border-style: none;
  font-weight: 500;
  background-color: #1E88A9;
  color: white;
  @media screen and (min-width:512px){
    width: 50vw;
    height: 3vw;
  }
  @media screen and (min-width: 1440px){
    width: 42vw;
    height: 4vh;
  }
}

.div-registerForm{
  height: 56vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.register-form{
  height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media screen and (min-height: 720px) {
    height: 28vh;
  } 
}

.login-register-button {
  background: none;
  border: none;
  color: #777777;
}

.btnNuevo{
    width: 30vh;
    height: 7vh;
    background-color: #1E88A9;
    color: white;
    border: none;
    font-size: 1em;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
.btnNuevo:hover {
    background-color: #156582;
}
.div-service {
  display: flex;
  flex-direction: column;
  padding: 5vh;
  border: 0vh solid #ccc;
  margin-bottom: 1vh;
}

.titles{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 6vh;
  margin-bottom: 1vh; 
  font-weight: bold;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-select, .form-input, .form-button {
  margin-bottom: 3vh; 
  padding: 1vh; 
  border: 0.2vh solid #ccc;
  width: 50vh; 
  font-size: 2.5vh;
}

.form-button {
  background-color: #1E88A9;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #156582;
}

.product-list {
  font-family: 'Arial', sans-serif;
}

.product-item,.precio,.item {
  font-size: 2.5vh;
  width: 20%;
  align-self: center;
  font-weight: bold;
  list-style-type: none; 
  padding: 1vh;
  border: 0.2vh solid #8fb4f6;
  margin-bottom: 0.5vh;
  font-family: 'Arial', sans-serif;
}

.datosServicio{
  font-size: 3.5vh;
  width: 80%;
  align-self: center;
  font-weight: bold;
  list-style-type: none; 
  padding: 1vh;
  border: 0.2vh solid #8fb4f6;
  margin-bottom: 0.5vh;
  background-color:#D3EFFF ;
  font-family: 'Arial', sans-serif;
}

.product-item:hover {
  background-color: #f0f0f0; 
}


